<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
  </header>
  <div class="container">
        <%- include("./partials/paymentform.ejs") %>
  </div>
  <!-- Embed the Adyen Web script element above any other JavaScript in your checkout page. -->

  <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/4.8.0/adyen.js"></script>
</body>

</html>